/* color palette */
$dark-gray: #100f0f;
$teal-green: #0f3d3e;
$beige: #e2dcc8;
$white: #f1f1f1;

/* Font */
$main-font: 'montserrat';

/* nav properties */
$nav-bg: #252525;
$nav-hover: #313131;
$nav-dropdown-bg: rgb(37, 37, 37, 0.7);
$nav-font: 'montserrat';
$nav-text-color: white;

/* ---------------- */
/* ---- Global ---- */
/* ---------------- */

body {
  background-color: $dark-gray;
}

/* ---------------- */
/* ---- Header ---- */
/* ---------------- */

.header {
  font-family: $main-font;
  background-color: $teal-green;
  padding: 0.7em 0;
  display: inline-grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  gap: 10vw;
}

/* Logo */
.header-logo .logo {
  width: 9em;
}

/* Search bar */
.header-search_bar_container {
  display: inline-flex;

  input {
    border-style: none;
    border-radius: 3px 0 0 3px;
    padding: 0 0.7em;
    width: 30vw;

    &:focus {
      outline: none;
    }
  }

  img {
    border-radius: 0 3px 3px 0;
    width: 1.2em;
    padding: 0.5em;
    background-color: $dark-gray;
    cursor: pointer;

    &:hover {
      background-color: #1d1b1b;
    }

    &:active {
      background-color: #2c2b2b;
    }
  }
}

/* icon-options */
.header-icon_options {
  img {
    margin: 0 0.4em;
    cursor: pointer;
  }
}

/* ---------------- */
/* -- Navigation -- */
/* ---------------- */

.nav {
  font-family: $nav-font;
  background-color: $nav-bg;

  // 1st ul inside nav html
  ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
    display: flex;
    place-items: center;

    li {
      padding: 10px;
      cursor: pointer;
      transition: ease 0.3s;

      &:hover {
        background-color: $nav-hover;
      }

      a {
        text-decoration: none;
        color: $nav-text-color;
      }
    }
  }
}

.nav {
  ul ul {
    display: none;
  }

  .dropdown-item:hover > ul {
    // 2nd ul inside nav html
    background-color: $nav-dropdown-bg;
    margin: 10px 0 0 -10px;
    width: 10em;
    position: absolute;
    display: grid;
    justify-items: stretch;
  }
}
